# Avoid normalizing the following files because they contain
# examples of multipart bodies that uses CR,LF as end of line delimiter.
nio-multipart-parser/src/test/resources/samples/*.txt text eol=crlf
