<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy/MM/dd HH:mm:ss.SSS} [FILE_UPLOAD] %-5level [%thread] %logger{36}[%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<File>nioFileUpload.log</File>-->
        <!--<encoder>-->
            <!--<pattern>%d{yy/MM/dd HH:mm:ss.SSS} [FILE_UPLOAD] %-5level [%thread] %logger{36}[%line] - %msg%n</pattern>-->
        <!--</encoder>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
            <!--<maxIndex>10</maxIndex>-->
            <!--<FileNamePattern>nioFileUpload.log.%i</FileNamePattern>-->
        <!--</rollingPolicy>-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
            <!--<MaxFileSize>1MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
    <!--</appender>-->

    <logger name="com.synchronoss" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <!--<appender-ref ref="rollingFileAppender"/>-->
    </root>

</configuration>